<?xml version="1.0" encoding="UTF-8"?>
<web-app 
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>NRCS Theme Static Resources</display-name>
	<context-param>
		<description>
		A regular expression that defines which of the resources in the war file can be served by the portal war datasource.
		</description>
		<param-name>com.ibm.portal.whitelist</param-name>
		<param-value>.*</param-value>
	</context-param>
	<context-param>
		<description>
		A regular expression that defines which of the resources in the war file cannot be served by the portal war datasource.
		</description>
		<param-name>com.ibm.portal.blacklist</param-name>
		<param-value>WEB-INF/.*</param-value>
	</context-param>
	<context-param>

		<description>
		A regular expression that defines which of the resources in the war file can be served by the portal res datasource.
		</description>
		<param-name> com.ibm.portal.resource.whitelist</param-name>
		<param-value>.*</param-value>

	</context-param>
	<context-param>

		<description>
		A regular expression that defines which of the resources in the war file cannot be served by the portal res datasource.
		</description>
		<param-name> com.ibm.portal.resource.blacklist</param-name>
		<param-value>WEB-INF/.*</param-value>

	</context-param>
</web-app>
